$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1141px
);

$black: #000;
$primary: #6bcbba;
$tertiary: #c2c26b;
$dark: #000;
$bg-color: white;
$bg-grey: #f7f7f9ff;
$info: $tertiary;

$body-color: #333;
$body-light-color: #555;
$secondary: $body-color;

$light: $body-color;

//$headings-font-family:        -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$text-font-family: Roboto, sans-serif;
$headings-font-family:        $text-font-family;

$headings-color: $light;
$font-size-base: 1.2rem;

$navbar-dark-color: $body-color;

$input-btn-font-family: $headings-font-family;

// Configuration
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Layout & components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
// @import "images";
@import "bootstrap/containers";
@import "bootstrap/grid";
// @import "tables";
// @import "forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
// @import "button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
// @import "card";
// @import "accordion";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "alert";
// @import "progress";
// @import "list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
@import "bootstrap/carousel";
// @import "spinners";
// @import "offcanvas";
// @import "placeholders";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";
// scss-docs-end import-stack
//

$card-border-radius: 10px;

body {
    background-color: $bg-color;
    min-height: 100vh;
}

div.frame {
    background-position-x: center;
    background-color: $bg-color;
    background-repeat: no-repeat;
    font-family: $text-font-family;
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0 0 100px rgba(0,0,0,0.5);
}

main.page-content {
    flex-grow: 1;
}

$logo-width: 320px;


.navbar-brand {
    width: calc(100% - 3 * $spacer - 1.5em); // latter is hard-coded bootstrap toggler icon width 
    @include media-breakpoint-up(sm) {
        max-width: $logo-width;
    }
    img {
        max-width: $logo-width;
        width: 100%;
        transition: max-width 100ms;
    }
}

footer .navbar-brand {
    width: 100%;
    max-width: $logo-width;
}

.nav-item {
    font-family: $headings-font-family;
    text-align: right;
    padding-left: $spacer * 2;
    
    a {
        padding-bottom: 0;
    }
}

.navbar {
    background-color: $bg-color; 
    border-bottom: 1px solid #ddd;
    .container-md {
        align-items: flex-end;
    }
    .navbar-collapse {
        justify-content: flex-end;
    }
    &.navbar-slim {
        img {
            max-width: 150px;
        }
    }
}

.navbar-nav {
    align-items: center;
    .nav-link {
        padding-top: 0;
    }
}

h1 {
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
}


.display-6 {
    font-family: $headings-font-family;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: $light;
}

.site-footer {
    font-size: $font-size-base * 0.85;
    background-color: $bg-grey;
    padding-top: $spacer * 2;

    li {
        list-style: none;
    }

}

footer {
    a {
        .svg-icon {
            width: 16px;
            height: 16px;
            fill: $body-color;
            margin-right: 0.5rem;
            transform: scale(1.5);
        }

        span {
            display: none;
        }
        @include media-breakpoint-up(sm) {
            span {
                display: inline;
            }
            .svg-icon {
                transform: scale(1);
            }
        }
    }

    ul {
        padding-left: 0;
    }
}

mark {
    color: $body-color;
    font-weight: bold;
    padding: 0;
    background: linear-gradient(to top, $tertiary 0% 20%, transparent 20% 100%);
}


hr {
    background: linear-gradient(to right, transparent, $light, transparent);
    opacity: 0.75;
}



.intro {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #ddd;
    .logo, .section-lead {
        background-color: $bg-grey;
        padding-top: $spacer * 4;
    }
    .logo {
        margin-bottom: -3vh;
    }
    .cta {
        margin-top: $spacer * 4;
        .btn {
            font-size: $font-size-base * 1.5 !important;
            width: 300px;
            display:inline-block;
        }
    }
    .section-lead {
        background-image: url("/assets/img/bg_head.svg");
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: cover;
        min-height: min(21vw, 400px);
        max-height: 400px;
        padding-bottom: 9rem;
        a.bold {
            background: linear-gradient(to top, $secondary 0% 20%, transparent 20% 100%);
            text-decoration: none;
            color: $body-color;
            font-weight:bold;
        }

        a.bold:hover {
            background: linear-gradient(to top, $primary 0% 20%, transparent 20% 100%);
            text-decoration: none;
        }

        /*
        &:first-child {
            display: flex;
            justify-content: center;

        }
        */
}

}

$feature-image-box-shadow: 2px;
$feature-image-box-shadow-rest:0 0 rgba(206, 232, 232, 0.55);
$rotation: 8deg;


.feature-image {
    width: 100%;
    border-radius: $card-border-radius;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.1);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    transform-style: preserve-3d;
}

@mixin feature-image-iso {
    transform: rotateY(0);
    box-shadow: 0.1px $feature-image-box-shadow-rest;
}

.scene-left, .scene-right {
    perspective: 500px;
    .feature-image:hover {
        @include feature-image-iso;
    }
}

.scene-left .feature-image {
    @include feature-image-iso;
    @include media-breakpoint-up(sm) {
        transform: rotateY($rotation);
        box-shadow: ($feature-image-box-shadow * -1) $feature-image-box-shadow-rest;
    }
}

.scene-right .feature-image {
    @include feature-image-iso;
    @include media-breakpoint-up(sm) {
        transform: rotateY($rotation * -1);
        box-shadow: $feature-image-box-shadow $feature-image-box-shadow-rest;
    }
}


.text-body {
    font-size: $font-size-base;
    width: 100%;
    margin: 0 auto;

    li {
        list-style-type: "»";
        padding-inline: $spacer * 0.5;
        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            color: $light;
        }
    }

    li::marker {
        color: $secondary;
        font-size: $font-size-base;
    }

}

.navbar-light .navbar-nav .nav-link {
    color: inherit;
    &:hover {
        color: $primary
    }
}

@include media-breakpoint-up(lg) {
    .text-body {
        padding: 0 84px; // aligns with company logos name
    }
}

section {
    //padding-top: $spacer * 2;
    padding-bottom: $spacer * 5;
    h2 {
        padding-top: $spacer * 4;
        padding-bottom: $spacer * 4;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
    }

}

.product {
    h3 {
        img {
            height: $h3-font-size * 1.5;
            margin-right: $spacer;
        }
    }

    .btn {
        margin-top: $spacer * 3;
        display: block;
        width: 80%;
    }
}
section.white {
    background-color: $bg-color;
}

section.grey {
    background-color: $bg-grey;
}
section.packages {

    @include media-breakpoint-down(md) {
        .container-sm {
            padding-left: 0;
            padding-right: 0;
        }

        .carousel-item {
            padding-left: $spacer * 2.5;
            padding-right: $spacer * 2.5;
        }
    }

    h2, h3 {
        color: $dark;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: $h3-font-size * 0.8;
    }

    h4 {
        text-align: center;
        font-size: $h4-font-size * 0.8;
    }

    img {
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 2;
    }

    hr {
        background: linear-gradient(to right, transparent, $dark, transparent);
        opacity: 0.75;
        margin-top: $spacer * 2;
        margin-bottom: $spacer * 2;
    }
    .package-frame {
        margin: 0 auto;
        position: relative;
    }
    .package {
        //@extend .shadow;
        border: solid $card-border-width $card-border-color;
        background-color: $bg-color;
        border-radius: $card-border-radius;
        color: black;
        padding: $spacer;

        ul {
            margin-left: $spacer * 2;
        }

        li {
            padding-bottom: $spacer * 0.5;
        }

        li.on {
            list-style: url("/assets/img/on.svg")
        }
        li.off {
            list-style: url("/assets/img/off.svg");
            color: #c7d1d2;
        }
        
        .btn {
            display: block;
        }

        .price {
            text-align: center;
            .number {
                font-weight: bold;
                font-size: 250%;
            }
            .period {
                font-size: 125%;
            }
        }
    }

    &> div {
        position: relative;
    }

    .packages-banner {
        //border-radius: $card-border-radius;
        background-color: #ffd94e;
        z-index: 100;
        position: absolute;
        width: calc(100% - $spacer * 2);
        bottom: -1rem;
        left: 0;
        color: $black;
        text-align: center;
        font-weight: bold;
        font-size: $font-size-base * 1.1;
        //box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important
        @extend .shadow;
        transition: transform 1s;
        transform: rotate(0);
    }

    .packages-banner:hover {
        transform: rotate(-1deg);
    }

    .btn {
        box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
        //transition: transform 0.5s;
    }
}

.partner {
    padding: $spacer * 3;
}

.partner img {
    width: 100%;
    &.bmf {
        background-color: white;
    }
    &.waw {
        width: 40%;
    }
}

a.project {
    img {
        width: 100%;
        border-radius: 20px;
        height: 250px;
        object-fit: cover;
    } 
     
    h4 {
        font-weight: bold;
        padding-top: $spacer * 1;
        padding-bottom: $spacer * 1;
    }
    .project-date {
        color: $body-light-color;
    }
    
    text-decoration: none;
}

.page-head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(25vw, 250px);
    background-color: $bg-grey;
    background-image: url("/assets/img/bg_head.svg");
    background-position: bottom;
    background-repeat: repeat-x;
}

.jobs {
    background-color: $bg-color;
    min-height: 22rem;
    h2 {
        color: $light;
    }

    hr {
        background: linear-gradient(to right, transparent, $light, transparent);
        opacity: 0.75;
    }

    table {
        border: 0;
        width: 100%;

        td {
            padding: $spacer;

            a {
                font-weight: bold;
            }
        }

        tr {
            border-bottom: 1px grey dotted;
        }
    }

    td img {
        height: $h3-font-size * 1.5;
        padding-right: $spacer;
    }

    thead {
        font-weight: bold;
    }

    tbody {
        border-top: 1px grey solid;
        border-bottom: 1px grey solid;
    }
}


article {
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;
    h2 {
        font-weight: normal;
    }
}

.bio-image {
    @extend .feature-image;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.55rem rgba(206, 232, 232, 0.85) inset;
    img {
        width: 100%;
        position: absolute;
        top: -8px;
    }
}

.bio-image::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.currency {
    background-color: #327878;
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5) inset;
    margin: $spacer;
}

iframe.order {
    width: 100%; 
    height: 100vh;
    @include media-breakpoint-down(md) {
        height: 130vh;
    }
    @include media-breakpoint-down(sm) {
        height: 160vh;
    }

}

@import "email-obfuscator";


