---
layout: default
title: Pathfinder
nav_exclude: true
search_exclude: true
---
<section class="white pb-0">
    <div class="container product">
    <div class="row align-items-center">
        <div class="col-md-6 pr-1 pb-4">
            <h3><img src="/assets/img/icon_pathfinder.svg">Pathfinder</h3>
            <p>Empower everyone with the ability to easily inspect and trace cryptoasset payment flows.</p>
            <a href="https://app.ikna.io" class="btn btn-secondary">Try for free</a>
        </div>
        <div class="col-md-6 pl-2">
            <div class="p-5">
                <img src="/assets/img/pathfinder.svg">
            </div>
        </div>
    </div>
    </div>
</section>
<section class="grey">
    <div class="container-sm">
    <h2>What is Pathfinder?</h2>
    <p>Iknaio Pathfinder is a powerful online service that allows you to easily analyze addresses and transactions in various cryptoasset networks such as Bitcoin, Ethereum, and Tether. The interface is intuitive, enabling you to follow the money on an individual transaction level as well as at an aggregated level, ensuring that they never lose sight of the bigger picture.</p>

    <p>You can annotate your investigations by tagging addresses and highlighting relevant paths. This makes it easy to stay organized and focused. Investigations and tags can be exported and shared with others, making it simple to collaborate on complex projects.</p>
    <p>Iknaio Pathfinder is based on the open source GraphSense Dashboard and provides additional advanced features such as collaborative investigations and automating information requests. This makes it an incredibly powerful tool for anyone looking to gain insights into payment flows or conduct investigations in the world of digital currencies.</p>
    </div>
</section>
<section class="white">
    <h2>Basic Features</h2>
    {% include feature.html image="pathfinder_f1.svg" title="Inspect addresses and transactions" description="Search for a given cryptoasset address or transaction and view statistical properties like current balance or transaction history." reverse=true %}
    {% include feature.html image="pathfinder_f2.svg" title="Follow the money" description="Easily trace money flows between cryptoasset addresses until you find a specific actor, like a cryptoasset exchange where the money is converted back to fiat money. Use the built-in path search function to search paths automatically." reverse=false %}
    {% include feature.html image="pathfinder_f3.svg" title="Annotate your investigations" description="Annotate interesting addresses with additional tags and highlight relevant payment paths. This information stays with you (in your browser) and is, by default, not shared with anyone." reverse=true %}
    {% include feature.html image="pathfinder_f4.svg" title="Export and share investigations" description="Export your investigation and additional tags as a file and share them with your colleagues. They can re-import you investigation without sharing this information with anyone else." reverse=false %}
</section>
<section class="grey">
    <!--img class="m-auto" src="/assets/graphics/"-->
    <h2>Additional Services</h2>
    {% include feature.html image="pathfinder_f5.svg" title="Connecting cases" description="Connect investigators working who are working on similar or closely related investigations. Work smarter and not harder by harnessing the power of interconnected investigations." reverse=true %}
    {% include feature.html image="pathfinder_f6.svg" title="Automate information requests" description="Use pre-defined templates to contact Virtual Asset Service Providers (VASPs) for information requests on given cryptoasset transactions or addresses." reverse=false %}
</section>
<section class="white"></section>
