/* just-the-docs overrides */

.search-active .main {
    position: relative;
}

.search-active .search {
    z-index: 2000;
}

.btn-primary {
    background-image: none;
}

a:not([class]) {
    text-decoration-color: inherit;
}

