<section class="container-sm">
<h2>Company</h2>
<hr/>
<div class="company-image mx-auto">
{% responsive_image path: assets/img/company.jpg %}
</div>
<div class="text-body">
Dr. Ross King and Dr. Bernhard Haslhofer, world leaders in the field of cryptocurrency-related data science, have joined forces to turn their research results into a <mark>revolutionary forensics</mark> solution, the GraphSense Cryptoasset Analytics Platform. GraphSense has been developed to make a significant contribution to <mark>fraud prevention</mark> and <mark>risk-monitoring</mark>, making the use of cryptocurrency safer.
</div>

<div class="text-center collapse show" id="company">
<a class="btn btn-lg btn-info" data-bs-toggle="collapse" href="#company"  role="button" aria-expanded="false" aria-controls="company">
Read on
</a>
</div>

<div class="text-body collapse" id="company">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
</div>
</section>

