<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper container-md">


    <div class="row">
      <div class="footer-col col-4">
        <div class="navbar-brand"><img src="/assets/img/logo.svg"/></div>
        <ul class="list-unstyled contact-list">
            <li>© Iknaio Cryptoasset Analytics GmbH {{ 'now' | date: '%Y' }}</li>
            <li>Vienna/Europe</li>
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col col-4">
        {%- include social.html -%}
      </div>

      <div class="footer-col col-4 text-end d-flex align-items-end justify-content-end">
          <ul>
          <li><a href="/imprint">Imprint</a></li>
          <li><a href="/privacy">Privacy</a></li>
          <li><a href="/terms">Terms of service</a></li>
          </ul>
      </div>
    </div>

  </div>

</footer>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

