<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="container-fluid">
      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
          <img src="/assets/img/logo.svg" title="{{ site.title | escape }}"/>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <!--
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item">
              <a class="nav-link text-right" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {%- endif -%}
          {%- endfor -%}
        -->
          <li class="nav-item">
            <a class="nav-link text-right" href="/#services">Services</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link text-right" href="/news.html">News</a>
          </li-->
          <li class="nav-item">
            <a class="nav-link text-right" href="/about.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary btn-md pt-0" role="button" aria-disabled="true" href="/#packages">Order Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div style="visibility: hidden" class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">
          <img src="/assets/img/logo.svg" title="{{ site.title | escape }}"/>
      </a>
    </div>
  </nav>
</div>
<script type="text/javascript">
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

let lastScrollTop = 0
function scrollFunction() {
    const clsName = ' navbar-slim'
    const scrollTop = document.body.scrollTop || document.documentElement.scrollTop
    document.querySelectorAll("nav.navbar").forEach(elem => {
        if (Math.abs(lastScrollTop - scrollTop) < 10) return
        if (scrollTop > 80) {
            if (elem.className.indexOf(clsName) !== -1) return
            elem.className += clsName
        } else {
            elem.className = elem.className.replace(clsName, '')
        }
    })
    lastScrollTop = scrollTop
}
</script>

