<section id="jobs" class="jobs d-flex justify-content-center white">
    <div class="container">
        <div class="text-body">
            <h2>Join our team!</h2>
            
            <!--p>While we are not actively recruiting for specific roles at the moment, we always appreciate and welcome talent. If you believe you have something unique to offer, don’t hesitate to share your passion and potential with us. Please send your application and relevant materials to <a href="mailto:contact@ikna.io">contact@ikna.io</a>. We look forward to discovering what you can bring to our team!</p-->

            {% include jobs_content.html %}
        </div>
    </div>
</section>
