<div class="package col-xs-12 col-sm-8 col-md-3">
    <h3>Free</h3>
    <ul>
        <li class="on">Dashboard and REST API access</li>
        <li class="on">Requests: 1.000 per month</li>
        <li class="on">EUR 0</li>
        <!--li class="off">Constant feature upgrade</li-->
        <!--li class="off">Unlimited API requests</li-->
        <!--li class="off">Individual tags</li-->
	    <!--li class="off">Store cases</li-->
        <!--li class="on">Monthly data update</li-->
        <!--li class="off">Weekly data update</li-->
    </ul>
</div>
