<section class="jobs d-flex justify-content-center">
    <div class="container">
        <div class="text-body">
            <h2>Partners</h2>
            <hr>
            <div class="row align-items-center justify-content-center">
                <div class="col-xs-12 col-md-3 partner">
                    <img src="assets/img/cflw.png"/>
                </div>
                <div class="col-xs-12 col-md-3 partner">
                    <img src="assets/img/csh.png"/>
                </div>
                <div class="col-xs-12 col-md-3 partner">
                    <img class="bmf" src="assets/img/bmf.png"/>
                </div>
                <div class="col-xs-12 col-md-2 partner">
                    <img src="assets/img/waw.png"/>
                </div>
            </div>
        </div>
    </div>
</section>

