<section id="services" class="container-sm product white">
    <h2>Our services</h2>
    <div class="row align-items-center">
        <div class="col-md-4 pr-1 pb-4">
            <h3><img src="/assets/graphics/icon_pathfinder.svg">Pathfinder</h3>
            <p>Empower everyone with the ability to easily inspect and trace cryptoasset payment flows.</p>
            <a href="/pathfinder.html" class="btn btn-secondary">Learn more</a>
        </div>
        <div class="col-md-8 pl-2">
            <img src="/assets/graphics/pathfinder.svg">
        </div>
    </div>
</section>
<section class="container-sm mt-4 product white">
    <div class="row align-items-center">
        <div class="col-md-4 pr-1">
            <h3 class="d-flex align-items-end"><img src="/assets/graphics/icon_automator.svg"><span>Automator</span></h3>
            <p>Enhance efficiency by automating your cryptoasset forensics, compliance, or reporting workflows programmatically.</p>
            <a href="/automator.html" class="btn btn-secondary">Learn more</a>
        </div>
        <div class="col-md-8 pl-2">
            <img src="/assets/graphics/automator.svg">
        </div>
    </div>
</section>
