<section id="services" class="container-sm product white">
    <h2>Our services</h2>
    <div class="row align-items-center">
        <div class="col-md-4 pr-1 pb-4">
            <h3><img src="/assets/img/icon_pathfinder.svg">Pathfinder</h3>
            <p>Empower everyone with the ability to easily inspect and trace cryptoasset payment flows.</p>
            <a href="/pathfinder.html" class="btn btn-secondary">Learn more</a>
        </div>
        <div class="col-md-8 pl-2">
            <img src="/assets/img/pathfinder.svg">
        </div>
    </div>
</section>
<section class="container-sm mt-4 product white">
    <div class="row align-items-center">
        <div class="col-md-4 pr-1">
            <h3 class="d-flex align-items-end"><img src="/assets/img/icon_automator.svg"><span>Automator</span></h3>
            <p>Enhance efficiency by automating your cryptoasset forensics, compliance, or reporting workflows programmatically.</p>
            <a href="/automator.html" class="btn btn-secondary">Learn more</a>
        </div>
        <div class="col-md-8 pl-2">
            <img src="/assets/img/automator.svg">
        </div>
    </div>
</section>

<section class="d-flex pb-1 justify-content-center assets white">
    <div class="container">
        <div class="text-body">
            <h2 class="pb-1">Supported assets</h2>
            <div class="row d-flex justify-content-center text-center currency">
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_bitcoin.svg"/>
                    <p>Bitcoin</p>
                </div>
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_bitcoincash.svg"/>
                    <p>Bitcoin Cash</p>
                </div>
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_litecoin.svg"/>
                    <p>Litecoin</p>
                </div>
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_zcash.svg"/>
                    <p>Zcash</p>
                </div>
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_ethereum.svg"/>
                    <p>Ethereum</p>
                </div>
                <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_tether.svg"/>
                    <p>Tether (USDT)</p>
                </div>
                 <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_usdc.svg"/>
                     <p>USDC</p>
                </div>
                 <div class="col-xs-5 col-md-3 ">
                    <img src="assets/img/icon_tron.svg"/>
                     <p>Tron</p>
                </div>
            </div>
  </div>
    </div>
</section>
